/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
*{
	text-align: center;
}
.navigation{
	display: flex;
	background: white;
	justify-content: space-evenly;
	margin-top: 10px;
	
}  
.services {
    text-align: left;
    margin: 10%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted rgb(96, 139, 168);
    margin: 10%;
  }
  .box {
      display: flex;
      flex-wrap: wrap;
      width: 45%;
  }
.box1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:10px;
    border: solid;
    width: 45%;
    height: 45%;

}
.box2 {
    margin:10px;
    border: solid;
}
.box1and2 {
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    border: solid;
}
.bottom {
    display: flex;
}
.someFacts {
    text-align: left;
    margin: 10%;
    
}

.learnMore {
    border: solid;
    margin: 10%;
}